[Unit]
Description=daily run of backintime
Wants=backintime.timer

[Service]
Type=oneshot
ExecStart=/usr/bin/distrobox-enter  -n fedora42_box -- backintime backup


