[user]
pinned=/usr/share/applications/xfce4-terminal.desktop;/usr/share/applications/thunar.desktop;/var/lib/flatpak/exports/share/applications/net.giuspen.cherrytree.desktop;/var/home/kevin/.local/share/applications/firefox.desktop;/var/home/kevin/.local/share/applications/webapp-LMS5163.desktop;/var/home/kevin/.local/share/applications/webapp-ProtonMail2731.desktop;
