[user]
pinned=/usr/share/applications/org.gnome.Terminal.desktop;/home/kevin/.local/share/applications/VM Viewer.desktop;/usr/share/applications/thunar.desktop;/home/kevin/.local/share/applications/webapp-ProtonMail2731.desktop;/home/kevin/.local/share/applications/webapp-LMS5163.desktop;/usr/share/applications/firefox.desktop;/home/kevin/.local/share/flatpak/exports/share/applications/org.keepassxc.KeePassXC.desktop;/home/kevin/.local/share/flatpak/exports/share/applications/net.giuspen.cherrytree.desktop;
showPreviews=true
