[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/var/home/kevin/Desktop/MX Linux.desktop]
row=6
col=0

[/var/home/kevin/Desktop/NordVPN.desktop]
row=4
col=0

[/var/home/kevin/Desktop/Silverblue.desktop]
row=3
col=0

[/var/home/kevin/Desktop/BlendOS.desktop]
row=7
col=0

[/var/home/kevin/Desktop/Fedora Workstation (another copy).desktop]
row=0
col=0

[/var/home/kevin/Desktop/Google Earth.desktop]
row=5
col=0

[/var/home/kevin/Desktop/Daily.desktop]
row=2
col=0

[/var/home/kevin/Desktop/Home-Manager.desktop]
row=1
col=0

