[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/var/home/kevin/Desktop/NordVPN.desktop]
row=3
col=1

[/var/home/kevin/Desktop/Google Earth.desktop]
row=2
col=1

[/var/home/kevin/Desktop/fedora_box-gpxsee.desktop]
row=4
col=1

[/var/home/kevin/Desktop/Fedora Workstation.desktop]
row=5
col=1

