[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/kevin/Desktop/Google Earth.desktop]
row=2
col=0

[/home/kevin/Desktop/NordVPN.desktop]
row=1
col=0

[/home/kevin/Desktop/VM Viewer.desktop]
row=3
col=0

[/home/kevin/Desktop/Update.desktop]
row=0
col=0

